---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import About from "../components/About.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Works from "../components/Works.astro";
import Contact from "../components/Contact.astro";
import Home from "../components/Home.astro";
import Experience from "../components/Experience.astro";
---

<Layout
	title="Portfolio de CCDEV Desarrollador y Programador Web con Ingeniería en Software."
	description="Contrata a CCDEV para tu aplicación web o móvil."
>
	<main>
		<div>
			<NavBar />
			<SectionContainer class="py-32 ">
				<Home />
			</SectionContainer>
			<SectionContainer class="py-16  sm:max-xl:flex justify-center ">
				<About />
			</SectionContainer>
			<SectionContainer class="py-16 md:max-xl:flex justify-center border-8">
				<Experience />
			</SectionContainer>
			<SectionContainer class="py-16 md:max-xl:flex justify-center border-8">
				<Works />
			</SectionContainer>
			<SectionContainer class="py-12">
				<Contact />
			</SectionContainer>
		</div>
	</main>
</Layout>
