<div class="py-24" id="About">
    <div >
        <div class="flex justify-center xl:justify-start">
            <a
                class="block max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
            >
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                    About.
                </h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">
                    My strong curiosity enables me to quickly adapt to any
                    environment, always eager to learn and understand what sparks my
                    interest
                </p>
            </a>
                      
            <div class="mt-24 pl-20 self-center xl:mt-0">
                <h5
                    class="mb-12 text-2xl font-semibold text-center tracking-tight text-gray-900 dark:text-white"
                >
                    Contact
                </h5>
                <div class="flex lg:justify-end gap-12 justify-center">
                    <a href="www.linkedin.com/in/devcbello" class="lg:pl-16">
                        <img src="/Network.png" alt="" width="72" height="73" class="rounded-lg">
                    </a>
                    <a href="https://github.com/iamccdev">
                        <img src="/Github.png" alt="" width="72" height="73" class="rounded-lg">
                    </a>
                    <a href="https://x.com/Kmachosnow">
                        <img src="/X.png" alt="" width="72" height="73" class="rounded-lg">
                    </a>
                </div>
                    
                </div>
            </div>
    
            </div>
        </div>
    
        <div class="mt-20 flex flex-col xl:flex-row md:justify-between">
            <div
                class="max-w-sm self-center p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            >
                <h5
                    class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"
                >
                    Education
                </h5>
                <h6
                    class="mb-2 text-lg font-normal tracking-tight text-gray-900 dark:text-white"
                >
                    Sofware engineer
                </h6>
                <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
                    Universidad Politécnica de Chiapas
                </p>
                <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
                    2020 - 2023
                </p>
            </div>
            <div class="mt-24 self-center xl:mt-0">
                <h5
                    class="mb-12 text-2xl font-semibold text-center tracking-tight text-gray-900 dark:text-white"
                >
                    Tech Stack
                </h5>
                <div class="flex flex-row gap-6 align-bottom">
                    <img src="./React.png" class="w-16 h-16 self-center p-2  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                    
                    />
                    <img src="./Flutter.png"
                    class="w-16 h-16 self-center p-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                
                />
                    <img src="./Node.png"
                        class="w-16 h-16 self-center p-2  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                    
                    />
                    <img src="./python.png"
                        class="w-16 h-16 self-center p-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                    
                    />
                    <img src="./Java.png"
                        class="w-16 h-16 self-center p-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                    
                    />
                    
                </div>
            </div>
        </div>
    </div>
    

</div>