<div >



    <div class="flex justify-center xl:justify-start">
    
        <a class="  block max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">About.</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">My strong curiosity enables me to quickly adapt to any environment, always eager to learn and understand what sparks my interest
            </p>
        </a>    
    </div>
    
    
    <div class="  mt-20   flex flex-col    xl:flex-row  md:justify-between  ">
        <div class="max-w-sm  self-center p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Education</h5>
            <h6 class="mb-2 text-lg font-normal tracking-tight text-gray-900 dark:text-white">Sofware engineer</h5>  
            <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Universidad Politécnica de Chiapas</p>
            <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">2020 - 2023</p>          
        </div>
       <div class=" mt-24 self-center xl:mt-0 ">
        <h5 class="   mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Thinking...</h5>
    
       </div>
    
    
    </div>
        
</div>