<div>
    <div class="flex justify-center text-5xl text-black"><p>Experience</p></div>

    <div class="flex lg:flex-row flex-col justify-between gap-12 py-24">
        <div class="flex-1 flex w-[400px] flex-col justify-between min-h-[420px] p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="text-2xl text-justify font-bold tracking-tight text-gray-900 dark:text-white">
                Koba Systems
            </h5>
            <h6 class="mb-2 text-lg text-justify font-bold tracking-tight text-gray-900 dark:text-white">
                Frontend Developer.
            </h6>
            <p class="font-normal text-justify text-gray-700 dark:text-gray-400">
                Temporarily responsible for making adjustments and optimizations
                to web interfaces using React with TypeScript. Created
                comprehensive and detailed documentation for various projects
                within the company
            </p>
            <div class="font-normal pt-5 mt-auto text-right text-gray-700 dark:text-gray-400">
                Sep. 2023 - Mar. 2024
            </div>
        </div>

        <div class="flex-1 flex flex-col w-[400px] justify-between min-h-[420px] p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="text-lg font-bold tracking-tight text-gray-900 dark:text-white">
                ISS - Innovative Software Services
            </h5>
            <h6 class="mb-2 text-md text-justify font-bold tracking-tight text-gray-900 dark:text-white">
                Full-Stack Developer.
            </h6>
            <p class="font-normal text-justify text-gray-700 dark:text-gray-400">
                Responsible for developing complete modules on the frontend
                using Flutter and on the backend with Flask. On the frontend, I
                designed and implemented user interfaces on the backend, I built RESTful APIs, managed
                databases, and ensured the system's security and efficiency.
            </p>
            <p class="font-normal text-right text-gray-700 dark:text-gray-400 mt-auto">
                Jan. 2024 to Apr. 2024
            </p>
        </div>

        <div class="flex-1 flex flex-col w-[400px] justify-between min-h-[420px] p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="text-2xl text-justify font-bold tracking-tight text-gray-900 dark:text-white">
                AbrhilSotf
            </h5>
            <h6 class="mb-2 text-lg text-justify font-bold tracking-tight text-gray-900 dark:text-white">
                Frontend Developer.
            </h6>
            <p class="font-normal text-justify text-gray-700 dark:text-gray-400">
                Designed and developed new features for existing systems,
                implementing responsive design principles to ensure
                cross-platform compatibility. Additionally, monitored
                application performance and troubleshot technical issues
                throughout the development process.
            </p>
            <p class="font-normal text-right text-gray-700 dark:text-gray-400 mt-auto">
                May 2024 to Present
            </p>
        </div>
    </div>
</div>