<div class="w-full">
    <div class=" px-12 min-w-max " >
        <img class="m-auto border-8 border-BorderColor w-60 h-60 rounded-full flex justify-center" src="./profile_photo.jpg" alt="Extra large avatar">
    
    
    </div>
    
    
    
    <div class="flex justify-center  py-20 ">
    
        <div class="flex items-start min-w-max gap-2.5">
            <img class="w-12 h-12 rounded-full" src="/icon_me.svg" alt="Jese image">
            <div class="flex flex-col  max-w-[450px]  leading-1.5 p-4 border-gray-200 bg-BubbleColor rounded-e-xl rounded-es-xl dark:bg-gray-700">
               <div class="flex items-center space-x-2 rtl:space-x-reverse">
                  <span class="text-sm font-semibold text-NicknameColor dark:text-white">CCDEV</span>
            
               </div>
               <p class="text-sm font-normal py-2.5 text-white  dark:text-white">Hi!  i am Carlos Camacho, i'm software engineer. Focusing in web development but interested in mobile and backend.</p>
               <span class="text-sm font-normal text-gray-600 dark:text-gray-400">Delivered</span>
            </div>
    
         </div>
         
    </div>
    
</div>